# Auth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Database
MONGODB_URI=

# Email (optional, untuk notifikasi custom)
RESEND_API_KEY=
